/* Custom styles and materialize override */

/* for the commit */
/* Global styles */

#about p{
    text-align: justify;
    text-justify: inter-word;
}

#about-sub p,#funding p{
    text-align: justify;
}
#support p{
    text-align: justify;
}
.container{
    width: 80% !important;
}
heading{
    font-size: 24px !important;
}

#stats h5 {
    font-family: Objective;
}

.yellow {
    background-color: #FDC016 !important;
}

.blue {
    color: #109DD5 !important;
    background-color: #109DD5 !important;
}

.believe-list {
    list-style: none;
    padding-left: 0;
}

.believe-list li {
    position: relative;
    padding-left: 34px;
}

.believe-list li:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('../images/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 35%;
    transform: translateY(-50%);
}

#about-sub {
    color: darkslategray;
}

#about h5 {
    margin-top: -20px;
}

#about span {
    font-size: 18px;
}

#home.section,
#funding2 {
    padding: 0px;
}

p {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    font-size: 17px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: Objective;
}

#management h5 {
    font-family: Objective;
}

.belive,
.promise{
    text-align: left;
    /* text-justify: inter-cluster; */
}

.belive hr,
.promise hr {
    border-top: 2px solid darkslategray;


}

.bullet {
    height: 30px;
    display: inline-block;
}

.slider img {
    width: 100%;
    height: 100%;
}


.margin-remove {
    margin: 0 auto;

}

.brand-logo img {
    padding-top: 15px;
    position: relative;
    left: 50px;
    width: 30%;
}

#partners2 {
    padding-top: -0px;
    padding-bottom: 0px;
}

/* Navigation */
#nav-mobile li a.yellow {
    margin: 5px;
}



.table-of-contents a:hover {
    background-color: transparent;
    border-left: none;
    transition: width .3s;
    color: #109DD5;

}

.table-of-contents a.active {
    font-weight: 500;
    padding-left: 14px;
    color: #109DD5;
    border-left: none !important;
    /* border-left: none; */
}

nav {
    height: 200px;
}

.spacer {
    width: 100%;
    height: 126px;
}

nav ul li {
    font-weight: bolder;
    position: relative;
    top: 85px
}

nav ul a {
    color: gray;
    font-size: 24px;
    font-family: Objective;
}

/* Side navigation */
#top-slider {
    height: 485.594px !important;
}

/* fancy hr */
hr.custom {
    margin: 1px 0px;
    border: 0;
    height: 1px;
}

/* Staying Support */

#support{
    color: #757575 !important;
}
/* management */

#management,
#partners {
    background-image: url("../images/managementbg.svg");
}

#management h5 {
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    height: 150%;
}

.circle-image {
    height: 270px;
    width: 275px;
    border-radius: 50%;
}


/* partners */
#partners {
    background-color: #169ed7;
}

/*  carousel */

/* carousel*/
.carousel .carousel-slider {
    height: 50px;
}

/* about section */
#about i {
    font-size: 24px;
    font-family: 'Lato', 'Helvetica', 'sans-serif';
}
/* Leadership section */

.dropdown-content li a {
    color: #109DD5
}
/* card */
/* card-image */


.card-image img {
    height: 180px;
    border-radius: 50%;
}

.categories .card {
    width: 90%;
}

.check {
    position: relative;
    top: 6px;
}

/* funding */
#funding img {
    width: 50%;
    height: 50%;
}

.funding-image {
    position: relative;
    top: 35px;
    width: 100%;
}

#partners {
    padding-inline-end: 0%;
}

/* support */
#support hr {
    border: 1px solid;
}

#support {
    color: darkslategray;
}

/* funding */
/* flat tabs */
.flat-tabs ul.menu-tab {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    width: 75%;
}

.flat-tabs ul.menu-tab:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 65%;
    height: 2px;
    background-color: #eeeeee;
    content: "";
    z-index: 2;
}

.flat-tabs ul.menu-tab li {
    display: inline-block;
    width: 150px;
}

.flat-tabs ul.menu-tab li a {
    position: relative;
    z-index: 10;
    background-color: #616161;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 2px solid #eeeeee;
    list-style-type: none;
    border-radius: 50%;
    margin-right: 200px;
    display: block;
}

.flat-tabs ul.menu-tab li a:before,
.flat-tabs ul.menu-tab li a:after {
    width: 20px;
    height: 2px;
    content: "";
    top: 50%;
    left: -22px;
    position: absolute;
}

.flat-tabs ul.menu-tab li a:after {
    left: 100%;
    margin-left: 2px;
}

.flat-tabs ul.menu-tab li.active a,
.flat-tabs ul.menu-tab li a:hover {
    border: 3px solid #FDC016;
    color: #fff;
    background-color: #109DD5;
    color: #fff;
}

.flat-tabs ul.menu-tab li:last-child a {
    margin-right: 0;
}

.flat-tabs ul.menu-tab li a {
    font-family: "Objective";
    font-weight: 700;
    color: white;
    font-size: 16px;
}

.flat-tabs .flat-title {
    margin-bottom: 34px;
}

.flat-tabs .content-tab .text-tab {
    width: 59.82905982905983%;
    float: left;
    padding-right: 60px;
    padding-top: 5px;
}

.flat-tabs .content-tab .images-tab {
    width: 40.17094017094017%;
    float: left;
}

.flat-tabs .content-tab p {
    margin-bottom: 20px;
}

/* Media queries*/
@media only screen and (max-width: 600px) {
    #about p{
        text-align: left;
    }
    
    #about-sub p,#funding p{
        text-align: left;
    }
    #support p{
        text-align: justify;
    }

    .flat-tabs ul.menu-tab {
        margin-bottom: -15px;
        width: 100%;
    }

    .flat-tabs ul.menu-tab li {
        width: 32%;
    }

    nav i.material-icons {
        padding: 15px;
        position: relative;
        right: 10px;
    }

    .bullet {
        height: 28px;
    }

    .carousel .carousel-slider {
        height: 200px;
    }

    #top-slider {
        height: 260px !important;
    }

    #top-slider a img {
        height: 65%;
    }

    .sidenav {
        width: 50%;
    }

    nav {
        height: 110px;
    }

    .spacer {
        width: 100%;
        height: 55px;
    }

    .brand-logo img {
        width: 30%;
    }

    .categories .card img {
        height: 280px;
    }

    .categories .card {
        position: relative;
        left: 15px;

    }

    .circle-image {
        height: 270px;
        width: 270px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 900px) and (min-width: 605px) {
    #about p{
        text-align: left;
    }
    
    #about-sub p,#funding p{
        text-align: left;
    }
    #support p{
        text-align: justify;
    }
    #home.section {
        padding-top: 0px;
    }

    nav {
        height: 125px;
    }


    #top-slider {
        height: 377.594px !important;
    }

    .spacer {
        width: 100%;
        height: 62px;
    }

    .brand-logo img {
        width: 26%;
        padding-top: 0;
    }

}

/* import fonts */
@font-face {
    font-family: Objective;
    src: url("./fonts/Objective-Regular.otf");
}

@font-face {
    font-family: Proxima-sans;
    src: url("./fonts/proxima-sans.ttf");
}

@font-face {
    font-family: Calmwaters;
    src: url("./fonts/Calmwaters.otf");
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);