/* Dirty code,to be cleaned up,rushing for development */

/* Custom styles and materialize override */

/* ============================================================================================  Global styles ============================================================================================*/

/* fancy hr */
hr.custom {
    margin: 1px 0px;
    border: 0;
    height: 1px;
}

.nomarginp {
    margin-bottom: 0;
}

.footer-head {
    color: #FDC016 !important;
    font-family: Objective;
    font-size: 1.5em;
}



.readMoreMbulelo {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.modal .btn {
    background-color: #109DD5 !important;
}

.modal p {
    text-align: justify;

}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0% !important;
    max-height: 95%;
    background-color: white;
    color: #757575;
    overflow-y: hidden !important;

}

.modal-content {
    padding-bottom: 5px !important
}

.modal-top img {
    width: 100px;
    height: 100px;
}

.modal-top div {
    height: 100px;

}




#stats {
    position: relative;
    bottom: 35px;
    margin-bottom: -35px;
}

#quality {
    position: relative;
    top: 6px;
}

footer a {
    color: #109DD5 !important;
}



#about p {
    text-align: justify;
    text-justify: inter-word;
}

#funding p {
    text-align: justify;
}



.container {
    width: 80% !important;
}

heading {
    font-size: 24px !important;
}

#stats h5 {
    font-family: Objective;
}

.yellow {
    background-color: #FDC016 !important;
}

.yellow-text {
    color: #FDC016 !important;
}

.blue {
    color: #109DD5 !important;
    background-color: #109DD5 !important;
}

.blue-text {
    color: #109DD5 !important;
}


.believe-list {
    list-style: none;
    padding-left: 0;
}

.believe-list li {
    position: relative;
    padding-left: 34px;
}

.believe-list li:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('../images/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 35%;
    transform: translateY(-50%);
}

.promise-list li:before {
    top: 28% !important;
}


#about-sub {
    color: #757575;
}

#about h5 {
    margin-top: -20px;
}

#about span {
    font-size: 18px;
}

#home.section,
#funding2 {
    padding: 0px;
}

p {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
.circles b {
    font-family: Objective;
}

#boardMore {
    display: none;
}



.belive,
.promise {
    text-align: left;
    /* text-justify: inter-cluster; */
}

.belive hr,
.promise hr {
    border-top: 2px solid #757575;


}

.bullet {
    height: 30px;
    display: inline-block;
}

.slider img {
    width: 100%;
    height: 100%;
}


.margin-remove {
    margin: 0 auto;

}

.brand-logo img {
    padding-top: 15px;
    position: relative;
    left: 50px;
    width: 30%;
}

#partners2 {
    padding-top: -0px;
    padding-bottom: 0px;
}

/* Navigation */




#nav-mobile {
    position: relative;
    top: 65px;
    padding-right: 20px;
}

#nav-mobile li a.yellow {
    padding: 0px 14px;
    height: 43px;
    line-height: 3rem;
}



.table-of-contents a:hover {
    background-color: transparent;
    border-left: 1px solid white;
    color: #109DD5;

}

.table-of-contents a.active {
    /* color: #109DD5; */
    border-left: none !important;
}

nav {
    height: 180px;
}

.spacer {
    width: 100%;
    height: 90px;
}


nav ul a {
    color: #757575;
    font-size: 18px;
    font-family: Objective;

}

/* Slider */
#top-slider {
    height: 560px !important;
}


/* ==================================================================================== Support  =========================================================================================================*/
#support b,
#about-sub b {
    color: #109DD5;
}

#banking-details {
    width: 80%;
}

#support {
    color: #757575 !important;
}

#support p {
    text-align: justify;
}

#support p b {
    font-weight: bold;
}


#support td {
    padding: 9px 5px;

}

#stats h4 {
    color: white !important;
}

/*=================================================================================== management ========================================================================================================*/

#newmanagement {
    color: white !important;
    background-color: #FDC016;
}

#boardp,
#lerouxp {
    color: white !important;
    font-size: 17px !important;
    text-align: justify;
}

#lerouxp {
    position: relative;
    top: 10px;
    display: flex;
    color: white !important;
    font-size: 16px !important;
    text-align: justify;
}

#management h5 {
    font-family: Objective;
}

#management p,
#newmanagement p {
    font-size: 17px;
}

#management b,
#newmanagement b {
    font-size: 20px;
}

#management,
#partners {
    background-image: url("../images/managementbg.svg");
}

#management h5 {
    font-weight: bold;
}

.circle-image {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#management2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: -15px;
}

/* ============================================================================================ partners ===================================================================================================*/
#partners {
    background-color: #169ed7;
}

/*  carousel */

/* carousel*/
.carousel .carousel-slider {
    height: 50px;
}

/* about section */
#about i {
    font-size: 24px;
    font-family: 'Lato', 'Helvetica', 'sans-serif';
}

.belive h4 {
    color: grey;
    border-bottom: none;
}

.promise h4 {
    color: grey;
}


.dropdown-content li a {
    color: #109DD5
}

/* card */
/* card-image */


.card-image img {
    /* height: 1px; */
    border-radius: 50%;
}

.categories .card {
    width: 90%;
}

.check {
    position: relative;
    top: 6px;
}

/* funding */
#funding img {
    width: 50%;
}

.funding-image {
    position: relative;
    top: 35px;
    width: 100%;
}

#partners {
    padding-inline-end: 0%;
}

/* support */
#support hr {
    border: 1px solid;
}

#support {
    color: #757575;
}

/*============================================================================================================ funding  =======================================================================================*/


/* =========================================================================== stats ===================================================== */
#stats i {
    font-size: 13px;

}

/* ===========================================================================================================  Footer ===================================================================================== */
.copyright {
    font-family: Objective;
    font-size: 16px;
}

#footer form {
    width: 100%;
    position: relative;
    bottom: 25px;
    right: 21px;
}

#footer p {
    font-size: 16px;
}

#footer .input-field .prefix.active {
    color: #FDC016 !important;
}

#footer input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #109DD5;
}

#footer textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #109DD5;
    color: white;

}

textarea,
#footer textarea.materialize-textarea:focus:not([readonly]) {
    color: white
}

#footer textarea.materialize-textarea:focus:not([readonly])+label {
    color: #FDC016
}

#footer input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: rgba(0, 0, 0, 0)
}


#footer .btn-small {
    background-color: #109DD5 !important;

}

/*=========================================================================================== Media queries ===============================================================================================*/
@media only screen and (max-width: 600px) {
    .modal-open {
        height: 350px !important;
    }

    .modal-top div,
    .modal hr {
        display: none;
    }


    #innerstatic2 {
        /* padding-top: 2px; */
        max-height: 250px;
        overflow: auto;
        width: 100%;
        position: relative;
        bottom: 40px;
    }

    #banking-details {
        width: 100%;
    }

    #lerouxp,
    #boardp {
        text-align: left;
    }


    #footer .btn-small {
        float: left;
    }

    #footer form {
        width: 100%;
    }

    .modal p {
        text-align: center;
    }

    #funding img {
        width: 85%;
    }

    #about p,
    #support p,
    #about-sub p,
    #funding p {
        text-align: unset;
    }

    .flat-tabs ul.menu-tab {
        margin-bottom: -15px;
        width: 100%;
    }

    .flat-tabs ul.menu-tab li {
        width: 32%;
    }

    nav i.material-icons {
        padding: 15px;
        position: relative;
        right: 10px;
    }

    .bullet {
        height: 28px;
    }

    .carousel .carousel-slider {
        height: 200px;
    }

    #top-slider {
        height: 260px !important;
    }

    #top-slider a img {
        height: 65%;
    }

    .sidenav {
        width: 50%;
    }

    nav {
        height: 110px;
    }

    .spacer {
        width: 100%;
        height: 55px;
    }

    .brand-logo img {
        width: 30%;
    }

    .categories .card img {
        height: 280px;
    }

    .categories .card {
        position: relative;
        left: 15px;

    }

    .circle-image {
        border-radius: 50%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    .modal-top div,
    .modal hr {
        display: none;
    }

    .modal .modal-content p {
        text-align: left !important;
    }

    .modal-open {
        height: 350px !important;
    }

    #innerstatic2 {
        /* padding-top: 2px; */
        max-height: 250px;
        overflow: auto;
        width: 100%;
        position: relative;
        bottom: 40px;
    }


    #innerstatic2 {
        /* padding-top: 2px; */
        max-height: 250px;
        overflow: auto;
        width: 100%;
        position: relative;
        bottom: 40px;
    }


    .modal-top div,
    .modal hr {
        display: none;
    }

    .modal {
        width: 100% !important;
        height: 100% !important;
    }

    /* .sidenav li>a:hover {
        color: #109DD5;
    } */

    #funding img {
        width: 65%;
    }

    #about p {
        text-align: left;
    }

    #about-sub p,
    #funding p {
        text-align: left;
    }

    #support p {
        text-align: justify;
    }



    #home.section {
        padding-top: 0px;
    }

    nav {
        height: 125px;
    }


    #top-slider {
        height: 377.594px !important;
    }

    .spacer {
        width: 100%;
        height: 62px;
    }

    .brand-logo img {
        width: 26%;
        padding-top: 0;
    }

}

/* @media screen and (max-width: 1920px) and (min-width: 1500px) {
    #lerouxp {
        position: relative;
        top: 15px;
    }

    .modal {
        width: 100% !important;
        height: 77% !important;
    }

    #top-slider {
        height: 800px !important;
    }

    .flat-tabs ul.menu-tab {
        width: 60%;
    }
} */




/* import fonts */
@font-face {
    font-family: Objective;
    src: url("./fonts/Objective-Regular.otf");
}

@font-face {
    font-family: Proxima-sans;
    src: url("./fonts/proxima-sans.ttf");
}

@font-face {
    font-family: Calmwaters;
    src: url("./fonts/Calmwaters.otf");
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);



#outerfixed {
    overflow: hidden;
    height: 400%;
    width: 100%;
    /* background-color:blue;  */
    /* padding:5px;  */
    top: 0px;
    bottom: 0px;
}

#innerstatic2 {
    /* padding-top: 2px; */
    max-height: 300px;
    overflow: auto;
    /* background-color:red;  */
    width: 100%;
}